ARCHIVO DEDICADO A LA EXTRACCION-MODIFICACIÓN-CARGA DE LAS TABLAS CON FORMATO CSV A DATAFRAME DE PANDAS

Importación de Librerías necesarias

In [2]:
import numpy as np  
import pandas as pd 
from datetime import datetime

Definir los Path relativos de la carpeta dataset

In [3]:
pathnetflix = 'Datasets/netflix_titles-score.csv'
pathamazon = 'Datasets/amazon_prime_titles-score.csv'
pathhulu = 'Datasets/hulu_titles-score (2).csv'
pathdisney = 'Datasets/disney_plus_titles-score.csv'

ETL - Tabla de datos de la plataforma DISNEY PLUS

In [8]:
Dfdisney = pd.read_csv(pathdisney) #Leer el archivo csv

Dfdisney.insert(0, 'id', 'd' + Dfdisney['show_id'], allow_duplicates=False) #Insertar Columna 'id'

Dfdisney['rating'] = Dfdisney['rating'].fillna('G') #Reemplazar NaN por 'G' en columna 'rating'

Dfdisney['date_added'] = pd.to_datetime(Dfdisney['date_added']) #Cambiar formato de fecha

Dfdisney['type'] = Dfdisney['type'].str.lower() #Cambiar a minúsculas las columnas con formato string
Dfdisney['title'] = Dfdisney['title'].str.lower()
Dfdisney['director'] = Dfdisney['director'].str.lower()
Dfdisney['cast'] = Dfdisney['cast'].str.lower()
Dfdisney['country'] = Dfdisney['country'].str.lower()
Dfdisney['rating'] = Dfdisney['rating'].str.lower()
Dfdisney['listed_in'] = Dfdisney['type'].str.lower()
Dfdisney['description'] = Dfdisney['description'].str.lower()

Dfdisney[['duration_int', 'duration_type']] = Dfdisney['duration'].str.split(expand = True) #Separar la columna duration en dos
Dfdisney['duration_type'] = Dfdisney['duration_type'].str.lower().replace('seasons','season') #Cambiar a minusculas la nueva columna str y poner en singular
Dfdisney['duration_int'] = Dfdisney['duration_int'].fillna(0) #Cambiar valores NaN por '0'(sino no se puede convertir a entero)
Dfdisney['duration_int'] = Dfdisney['duration_int'].astype(int) #Cambiar la otra nueva columna a entero

ETL - Tabla de datos de la plataforma NETFLIX

In [7]:
Dfnetflix = pd.read_csv(pathnetflix) #Leer el archivo csv

Dfnetflix.insert(0, 'id', 'n' + Dfnetflix['show_id'], allow_duplicates=False) #Insertar Columna 'id'

Dfnetflix['rating'] = Dfnetflix['rating'].fillna('G') #Reemplazar NaN por 'G' en columna 'rating'

Dfnetflix['date_added'] = pd.to_datetime(Dfnetflix['date_added']) #Cambiar formato de fecha

Dfnetflix['type'] = Dfnetflix['type'].str.lower() #Cambiar a minúsculas las columnas con formato string
Dfnetflix['title'] = Dfnetflix['title'].str.lower()
Dfnetflix['director'] = Dfnetflix['director'].str.lower()
Dfnetflix['cast'] = Dfnetflix['cast'].str.lower()
Dfnetflix['country'] = Dfnetflix['country'].str.lower()
Dfnetflix['rating'] = Dfnetflix['rating'].str.lower()
Dfnetflix['listed_in'] = Dfnetflix['type'].str.lower()
Dfnetflix['description'] = Dfnetflix['description'].str.lower()

Dfnetflix[['duration_int', 'duration_type']] = Dfnetflix['duration'].str.split(expand = True) #Separar la columna duration en dos
Dfnetflix['duration_type'] = Dfnetflix['duration_type'].str.lower().replace('seasons','season') #Cambiar a minusculas la nueva columna str y poner en singular
Dfnetflix['duration_int'] = Dfnetflix['duration_int'].fillna(0) #Cambiar valores NaN por '0'(sino no se puede convertir a entero)
Dfnetflix['duration_int'] = Dfnetflix['duration_int'].astype(int) #Cambiar la otra nueva columna a entero
netflix = Dfnetflix.copy()

In [6]:
netflix

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score,duration_int,duration_type
0,ns1,s1,movie,dick johnson is dead,kirsten johnson,NaN,united states,2021-09-25,2020,pg-13,90 min,movie,"as her father nears the end of his life, filmm...",29,90,min
1,ns2,s2,tv show,blood & water,NaN,"ama qamata, khosi ngema, gail mabalane, thaban...",south africa,2021-09-24,2021,tv-ma,2 Seasons,tv show,"after crossing paths at a party, a cape town t...",86,2,season
2,ns3,s3,tv show,ganglands,julien leclercq,"sami bouajila, tracy gotoas, samuel jouy, nabi...",NaN,2021-09-24,2021,tv-ma,1 Season,tv show,to protect his family from a powerful drug lor...,75,1,season
3,ns4,s4,tv show,jailbirds new orleans,NaN,NaN,NaN,2021-09-24,2021,tv-ma,1 Season,tv show,"feuds, flirtations and toilet talk go down amo...",49,1,season
4,ns5,s5,tv show,kota factory,NaN,"mayur more, jitendra kumar, ranjan raj, alam k...",india,2021-09-24,2021,tv-ma,2 Seasons,tv show,in a city of coaching centers known to train i...,92,2,season
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,ns8803,s8803,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,158 min,movie,"a political cartoonist, a crime reporter and a...",20,158,min
8803,ns8804,s8804,tv show,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,tv-y7,2 Seasons,tv show,"while living alone in a spooky town, a young g...",8,2,season
8804,ns8805,s8805,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,88 min,movie,looking to survive in a world taken over by zo...,55,88,min
8805,ns8806,s8806,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,88 min,movie,"dragged from civilian life, a former superhero...",7,88,min
8806,ns8807,s8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,111 min,movie,a scrappy but poor boy worms his way into a ty...,44,111,min

ETL - Tabla de datos de la plataforma AMAZON PRIME

In [9]:
Dfamazon = pd.read_csv(pathamazon) #Leer el archivo csv

Dfamazon.insert(0, 'id', 'a' + Dfamazon['show_id'], allow_duplicates=False) #Insertar Columna 'id'

Dfamazon['rating'] = Dfamazon['rating'].fillna('G') #Reemplazar NaN por 'G' en columna 'rating'

Dfamazon['date_added'] = pd.to_datetime(Dfamazon['date_added']) #Cambiar formato de fecha

Dfamazon['type'] = Dfamazon['type'].str.lower() #Cambiar a minúsculas las columnas con formato string
Dfamazon['title'] = Dfamazon['title'].str.lower()
Dfamazon['director'] = Dfamazon['director'].str.lower()
Dfamazon['cast'] = Dfamazon['cast'].str.lower()
Dfamazon['country'] = Dfamazon['country'].str.lower()
Dfamazon['rating'] = Dfamazon['rating'].str.lower()
Dfamazon['listed_in'] = Dfamazon['type'].str.lower()
Dfamazon['description'] = Dfamazon['description'].str.lower()

Dfamazon[['duration_int', 'duration_type']] = Dfamazon['duration'].str.split(expand = True) #Separar la columna duration en dos
Dfamazon['duration_type'] = Dfamazon['duration_type'].str.lower().replace('seasons','season') #Cambiar a minusculas la nueva columna str y poner en singular
Dfamazon['duration_int'] = Dfamazon['duration_int'].fillna(0) #Cambiar valores NaN por '0'(sino no se puede convertir a entero)
Dfamazon['duration_int'] = Dfamazon['duration_int'].astype(int) #Cambiar la otra nueva columna a entero

ETL - Tabla de datos de la plataforma HULU

In [10]:
Dfhulu = pd.read_csv(pathhulu) #Leer el archivo csv

Dfhulu.insert(0, 'id', 'h' + Dfhulu['show_id'], allow_duplicates=False) #Insertar Columna 'id'

Dfhulu['rating'] = Dfhulu['rating'].fillna('G') #Reemplazar NaN por 'G' en columna 'rating'

Dfhulu['date_added'] = pd.to_datetime(Dfhulu['date_added']) #Cambiar formato de fecha

Dfhulu['type'] = Dfhulu['type'].str.lower() #Cambiar a minúsculas las columnas con formato string
Dfhulu['title'] = Dfhulu['title'].str.lower()
Dfhulu['director'] = Dfhulu['director'].str.lower()
Dfhulu['country'] = Dfhulu['country'].str.lower()
Dfhulu['rating'] = Dfhulu['rating'].str.lower()
Dfhulu['listed_in'] = Dfhulu['type'].str.lower()
Dfhulu['description'] = Dfhulu['description'].str.lower()

Dfhulu[['duration_int', 'duration_type']] = Dfhulu['duration'].str.split(expand = True) #Separar la columna duration en dos
Dfhulu['duration_type'] = Dfhulu['duration_type'].str.lower().replace('seasons','season') #Cambiar a minusculas la nueva columna str y poner en singular
Dfhulu['duration_int'] = Dfhulu['duration_int'].fillna(0) #Cambiar valores NaN por '0'(sino no se puede convertir a entero)
Dfhulu['duration_int'] = Dfhulu['duration_int'].astype(int) #Cambiar la otra nueva columna a entero